<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
   <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<header>
<% include ./partials/_header %>
</header>
<main>
    <!-- Add your EJS code here -->
   <h1>ShortURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></h1>
 <form action="/urls/<%= shortURL%>?_method=PUT" method="POST" >
      <input id="editedURL" type="text" name="editedURL" value=<%= longURL %> style="width:400px;height:25px;font-size:20px;">
      <input type="submit" value="Update" style="width:100px;height:25px;font-size:100px;">
 </form>
 <br>
 <hr>
 <h2>VISITERS LOG</h2>
 <ul>

  <% urlDatabase[shortURL].visiterLog.forEach(item=>{ %>
    <li> 
    <p> <strong>Vister Id  : <%= item.id %></strong><br>Visited at : <%= item.visitedOn %> </p> 
    </li>
  <% })%>

 </ul>
 </main>
   <% include ./partials/_footer%>

</body>
</html>